---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';

import { Allprojects } from '../assets/data/projectdetails.js';
import { actions } from 'astro:actions';
---
<Layout>
    
<div>
    <a href="/landing">{"<-"}</a>
</div>

<div class="library" data-projects={JSON.stringify(Allprojects)}>
    <div class="library-shelf">
        {Object.values(Allprojects).map((project) => (
            <img src={project.pages[0].imgsrc} alt={project.pages[0].alt} data-title={project.title} />
        ))}

    </div>
    
    <div class="library-carousel">
    <Carousel pages={Allprojects[Object.keys(Allprojects)[0]].pages} width="auto" height="80%"/>
    </div>

</div>


</Layout>

<script>
    // import { Allprojects } from '../assets/data/projectdetails.js';
    document.querySelectorAll('.library-shelf img').forEach((img, index) => {
        img.addEventListener('click', () => {
            const title = img.getAttribute('data-title');
            if (title) {
                const projects = JSON.parse(document.querySelector('.library')?.getAttribute('data-projects') || '{}');
                let carousel = document.querySelector('carousel-element') as HTMLElement;
                if (!carousel) {
                    console.error('Carousel component not found in the DOM.');
                    return;
                } else {
                    console.log('Carousel component found:', carousel);
                }
                console.log('Project to pass:', projects[title.toLowerCase()]?.pages ?? []);
                carousel?.setAttribute('data-items', JSON.stringify(projects[title.toLowerCase()]?.pages ?? []));
                carousel?.dispatchEvent(new CustomEvent('updateCarousel')); // Trigger carousel update

                console.log('Clicked image title:', title);

            } else {
                console.warn('No title found for clicked image:', img);
            }
        });
    });
</script>

<style>
.library {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 80vh;
    gap: 20px;
    width: 100%;
}

.library img {
    width: auto;
    height: 80%;
    border-radius: 8px;
}

.library-shelf {
    background-color: wheat;
    grid-row: 1;
    display: flex;
    gap: 20px;
}
.library-carousel {
    grid-row: 2;
    display: block;
    background-color: wheat;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

</style>