---
import Layout from '../layouts/Layout.astro';

import { biophilia } from '../assets/projectdetails.js';

---
<Layout>
    <div class="library">
    <img src={biophilia.page[0].imgsrc} alt={biophilia.page[0].alt} />
    <img src={biophilia.page[1].imgsrc} alt={biophilia.page[1].alt} />

    <Carousel items={2}>
        <li><img src={biophilia.page[0].imgsrc} alt={biophilia.page[0].alt} /></li>
        <li><img src={biophilia.page[1].imgsrc} alt={biophilia.page[1].alt} /></li>
    </Carousel>
    
    </div>


</Layout>

<style>
.library {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
}

.library img {
    width: 100%;
    height: auto;
}
</style>