---
const img = Astro.props.img;
const alt = Astro.props.alt;
const label = Astro.props.label;
const link = Astro.props.link;

const {top = "0"} = Astro.props;
const {left = "0"} = Astro.props;

const {width = "50px"} = Astro.props;
const {height = "50px"} = Astro.props;

---
<div class="button-container" style ={`top: ${top}; left: ${left}; width: ${width}; height: ${height};`}>
    <a href={link}>
        <img src={img.src} alt={alt} />
        <label>{label}</label>
    </a>
</div>

<style>
    .button-container {
        position: absolute;
        /* background: #f0f0f0; */
        border-radius: 50%;
        
    }
    .button-container img, .button-container label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button-container label {
        z-index: 3;
        opacity: 0;
        white-space: nowrap;
    }
    .button-container img {
        z-index: 2;
        width: 140%;
        /* filter: blur(0.5px); */
    }

    .button-container:hover img {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .button-container:hover label {
        opacity: 1;
        font-size: 2rem;
        font-weight: bolder;
        color: white;
        background: rgba(255, 255, 255, 0.5);
        -webkit-text-stroke: 0.1rem black;
        /* https://www.reddit.com/r/csshelp/comments/b3z3gp/how_to_i_make_text_with_black_outline/ */
        /* text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black; */
    }
</style>
